* {
    box-sizing: border-box;
}

:root {
    line-height: 2rem;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    font-family: Lato, Arial, sans-serif;
    padding-bottom: 1rem;
}

/* Navigation - Top START */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0; */
    background-color: white;
    /* box-shadow: 0px 5px 1px 0px #B80000; */
}

.logo {
    width: auto;
    height: 80px;
    padding-left: 1rem;
}

.nav-links {
    font-family: ITC Avant Garde Gothic Pro , Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.work {
    padding-right: 2rem;
    text-decoration: none;
    color: black;
}

.work:hover {
    font-size: 25px;
    color: #b80000;
    text-decoration: line-through;
}

.about {
    padding-right: 2rem;
    text-decoration: none;
    color: black;
}

.about:hover {
    font-size: 25px;
    color: #b80000;
    text-decoration: line-through;
}

.contact {
    padding-right: 1rem;
    text-decoration: none;
    color: black;
}

.contact:hover {
    font-size: 25px;
    color: #b80000;
    text-decoration: line-through;
}

.toggle-button{
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

span:hover{
    background-color: #b80000;
}

.nav-links ul{
    display: flex;
}

@media only screen and (max-width: 1250px) {
    .logo {
        height: 65px;
    }
}

@media only screen and (max-width:1000px) {
    .logo {
        height: 50px;
    }

    .toggle-button{
        display: flex;
    }

    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links{
        width: 100%;
        display: none;
    }

    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }

    .nav-links a{
        text-align: center;
        padding: 1rem;
    }

    .nav-links.active{
        display: flex;
    }
}

/* Navigation - Top END */

/*Hero START */

.hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: rgba(149, 188, 221, 0.3);
    margin-bottom: 2rem;
}

.info-container {
    grid-column: 1 / 6;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 4rem;
}

.hero-image {
    grid-column: 6 / 13;
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
}

.title {
    font-size: 30px;
    font-family: ITC Avant Garde Gothic Pro , Arial, sans-serif;
    padding-bottom: 2rem;
    color: #b80000;
}

.title:hover {
    text-decoration: line-through;
}

.intro {
    font-size: 20px;
    font-family: Lato, Arial, sans-serif;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

@media (max-width: 1250px){
    .title{
        font-size: 25px;
    }

    .info-container{
        padding-left: 0rem;
    }
}

@media only screen and (max-width: 1000px) {

    .info-container {
        grid-column: span 12;
    }

    .title {
        padding-bottom: 0.5rem;
        padding-top: 1rem;
    }

    .intro {
        padding-bottom: 0.5rem;
    }

    .hero-image {
        grid-column: span 12;
    }
}

/* Hero END */

/* About the Project START */

#grid-about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 4rem;
}

.about-content {
    grid-column: 2 / 12;
}

.title-h2 {
    font-size: 25px;
    font-family: Lato, Arial, sans-serif;
}